@import '~normalize.css';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-mulish;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.innerWrapper {
  background: $main-background;
  height: 100vh;
}