$shadow: 2px 5px 25px -3px rgba(0, 0, 0, 0.46);
$border-radius-small: 15px;
$font-mulish: 'Mulish', sans-serif;

$light-background: #fff;
$main-background: -webkit-linear-gradient(50.0deg, #c3dee0 25%, #87CEEB 50%, #3367a9 75%, #1B3A59 100%);
$box-shadow-light: 2px 5px 25px -3px rgb(255, 255, 255);
$box-shadow-dark: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
$border-radius: 20px;

$white-color: #fff;
$dark-color: #000;
$blue-color: #4793ff;
$dark-blue-color: #295589;
$dark-transparent-color: #0000003F;
$base-color: #939cb0;

$arrow-background-light: rgba(255, 255, 255, 0);
$arrow-background-dark: rgba(231, 230, 230, 0);

